

.tablero{
  height: 70px;
  width: 50px;
  background-color: rgb(188, 188, 188);
  margin: 0.5px;
  cursor: pointer;
  
}

.tablero:hover{
  height: 70px;
  width: 50px;
  background-color: rgb(236, 116, 116);
  margin: 0.5px;
  cursor: pointer;
  
}

.tableroCiclked{
  height: 80px;
  width: 50px;
  background-color: rgb(34, 22, 22);
  margin: 0.5px;
}

.title{
  text-align: center;
  margin-top: 50px !important;
}

.subtitle{
  text-align: center;
  margin-top: 30px !important;

}